MONGO_URL=mongodb://localhost:27017
DB_NAME=ai_thumb
GOOGLE_API_KEY=your_google_api_key_here
PAYU_MERCHANT_KEY=
PAYU_MERCHANT_SALT=
PAYU_URL=https://test.payu.in/_payment
CORS_ORIGINS=http://localhost:3000
ADMIN_EMAIL=admin@quickthumb.me
ADMIN_PASSWORD=admin123
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000
